<p id="notice"><%= notice %></p>
<h1>Your Pragmatic Catalog</h1>
<% cache @products do %>
  <% @products.each do |product| %>
    <% cache product do %>
      <% if product == @current_product %>
        <div class="entry" id="current_product">
      <% else %>
        <div class="entry">
      <% end %>
        <%= button_to line_items_path(product_id: product), remote: true, style: 'cursor: pointer' do %>
         <%= image_tag(product.image_url) %>
        <% end %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <span class="price"><%= number_to_currency(product.price) %></span>
          <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
